-# 一旦SMS認証は仮置で作成する。

.block.horizontal-padding-25
  .block__menu
    電話番号の確認
.block.horizontal-padding-25
  = form_with url: pre_phone_path, local: true do |f|
    .input-field
      .input-field-main
        = f.label :phone_number, "携帯電話の番号"
        %br
        = f.text_field :phone_number, maxlength: 13, placeholder: "例）08012345678"
    .information
      %p.information__text
        本人確認のため、携帯電話のSMS（ショートメッセージサービス）を利用して認証を行います。
    %br
    = f.submit "SMSを送信する", class:"button back-main_color"
  .information
    .information__text
      ※電話番号は本人確認や不正利用防止の為に使用します。他のユーザーに公開されることはありません。