.footer {
  padding: 60px 0;
  color: $white;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      li {
        color: $white;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
  }
}