.Header {
  padding: 0 60px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .mainHeader {
      position: relative;
      display: flex;
      align-items: center;
      height: 35px;
      margin-bottom: 10px;
      .icon {
        margin-right: 30px;
        border-radius: 4px;
        .img1 {
          width: 140px;
          vertical-align: bottom;  
        }
      }
    }
    .nav {
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      .listsLeft {
        position: relative;
        display: flex;
        &__item {
          display: flex;
          line-height: 30px;
          padding: 0 0 0 16px;
          align-items: center;
          justify-content: center;
        }
      }
      .listsRight {
        margin-left: auto;
        display: flex;
        &__item {
          color: #333;
          line-height: 30px;
          margin: 0 0 5px 16px;
          border-radius: 4px;
          font-size: 14px;
        }
      }
    }
  }
}

.sp-header-btn{
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
}

.searchBox {
  width: 100%;
  height: 100%;
}

.searchBox-form {
  margin-left: auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  &__text {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 0 0 5px;
    border-style: groove;
    border-radius: 4px;
  }

  &__loupe{
    display: none;

  }
}

.field {
  width: 100%;
  height: 100%;
}

.search_btn-label {
  position: absolute;
  right: 0;
  padding: 0 9.5px;
  i {
    line-height: 35px;
    font-style: 14px;
  }
}