* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;  
}

a {
  color: #333;
  text-decoration: none;
}

body {
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
  font-style: 14px;
}
