.footer
  %ul.contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul
        %li
          会社概要（運営会社）
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          ポイントに関する規約
    %li.content
      %h2.content__head
        FURIMAを見る
      %ul
        %li
          カテゴリー一覧
        %li
          ブランド一覧
    %li.content
      %h2.content__head
        ヘルプ＆ガイド
      %ul
        %li
          FURIMAガイド
        %li
          FURIMAロゴ利用ガイドライン
        %li
          お知らせ
  .footer__logo
    = image_tag 'logo-white.png'
  %p
    © FURIMA