%footer.footer-no-menu
  %nav
    %ul
      = link_to "" do
        %li
          プライバシーポリシー
      = link_to "" do
        %li
          FURIMA利用規約
      = link_to "" do
        %li
          特定商取引に関する表記
  = image_tag 'logo.png', class: "logo"